(async () => {
  const url = "https://gcore.jsdelivr.net/gh/qqvvv/o/src/site/6/referLibrary.js";
  const core = await import( url );
  window.referLibrary = core.referLibrary;
  await referLibrary({
    'L2Dwidget': 'https://unpkg.2333332.xyz/live2d-widget@3.x/lib/L2Dwidget.min.js'
  });
  L2Dwidget.init({"pluginRootPath":"live2dw/","pluginJsPath":"lib/","pluginModelPath":"assets/","tagMode":false,"debug":true,"model":{"jsonPath":"https://unpkg.2333332.xyz/live2d-widget-model-mashiro-seifuku@1.0.1/assets/seifuku.model.json"},"display":{"position":"right","width":240,"height":480,"hOffset":0,"vOffset":0},"mobile":{"show":false},"react":{"opacity":0.8},"log":false});
})();