<div id="tcomment"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twikoo/1.6.44/twikoo.min.js"></script>
<script>
twikoo.init({
  envId: 'https://ttq.netlify.app/.netlify/functions/twikoo',
  el: '#tcomment',
})
</script>